@avenir: "Avenir", "Arial", sans-serif;

// global color
// $color-white: #ffffff;
// $color-white-two: #f5f5f5;
// $color-light-gray: #efefef;
// $color-gray: #707070;
// $color-dark-gray: #2a342b;
// $color-dark: #1e261f;
// $color-black: #000000;
// $color-green: #007f5d;

// media size
@tablet: 767px;
@desktop: 1023px;
@laptop: 1439px;
@large-laptop: 1919px;

// colors
@color-main: #292929;
@color-white: #ffffff;
@color-header: #575757;
@color-bg: #1a1a1a;
@color-black: #000000;
@color-yellow: #ffdb00;
